
//colors
$galactic-blue: hsl(252, 66%, 62%);
$summer-yellow: hsl(28, 89%, 67%);
$pale-pink: hsla(0, 79%, 79%, 1);
$light-red: hsla(7, 77%, 66%, 1);
$cyan: hsla(172, 46%, 57%, 1);
$rich-purple: hsla(314, 46%, 23%, 1);
$black: hsla(0, 0%, 0%, 1);
$medium-brown: hsla(30, 5%, 45%, 1);
$light-cream: hsla(30, 100%, 97%, 1);

//font family
$font-family: 'Plus Jakarta sans', sans-serif;

//font weight
$fw-500: 500;
$fw-700: 700;

//font size
$fs-14px: 0.875rem;
$fs-16px: 1rem;
$fs-18px: 1.125rem;
$fs-24px: 1.5rem;
$fs-26px: 1.625rem;
$fs-32px: 2rem;
$fs-36px: 2.25rem;
$fs-40px: 2.5rem;
$fs-44px: 2.75rem;
$fs-56px: 3.5rem;

